h1 {
  font-family: 'DM Serif Display', serif;
  font-weight: 100;
  font-size: 48px;
}

a {
  font-family: 'DM Serif Display', serif;
  font-weight: 100;
  font-size: 24px;
  color: #FFFFFF;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:active {
  text-decoration: none;
}

body {
  margin: 40px 30px 40px 50px;
  text-align: start;
  font-family: 'DM Sans';
  font-size: 24px;
  color: #FFFFFF;
  background-color: #001E25;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px 40px 30px 0px;
}

.signature {
  text-align: center;
  font-family: 'Dr Sugiyama', cursive;
  font-size: 24px;
  line-height: 12px;
}