.cbtn {
  /* default */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 0.5em;
  font-family: $sans-serif;
  font-size: $type-size-6;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-width: 0;
  border-radius: $border-radius;
  cursor: pointer;

  @include yiq-contrasted($blue-steel);
  &:visited {
    @include yiq-contrasted($blue-steel);
  }

  &:hover {
    @include yiq-contrasted(mix(#000, $blue-steel, 20%));
  }

  .icon {
    margin-right: 0.5em;
  }

  .icon + .hidden {
    margin-left: -0.5em; /* override for hidden text*/
  }
}