---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached browser-upgrade.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      <div id="main" role="main">
        <div class="page__inner-wrap">
          <header>
            <h1 id="page-title" class="page__title p-name" itemprop="headline">Soraphol Damrongpiriyapong</h1>
            <h2>
              I'm a 4th year Computer Engineering student at the University of Toronto. Previously interned at Red Hat on the IDE Services Team (Eclipse), and at Dot Health as an Android developer.
              Mobile development experience using Android, React Native, Kotlin, and Java. Game development experience in Unity, Unreal Engine, C#, and C/C++. Currently developing my own game engine, as well as learning about game development. Interested in all the math revolving around games. Additional interests in computer security, and operating systems.
              As of the summer of 2021, I have started a blog to document my learnings as I develop my game engine, and work towards a career in software. Additionally, I wish to digitize some of my favorite course notes, both to help me relearn topics and to provide additional resources for future students.
            </h2>
          </header>
        </div>
      </div>
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div> -->

<!-- {% include paginator.html %} -->