---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached browser-upgrade.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      <div id="main" role="main">
        <header style="margin-top: 2em">
          <h1 id="page-title" class="page__title p-name" itemprop="headline">{{ site.data.home.name }}</h1>
          <a href="assets/resumes/resume.pdf" class="cbtn cbtn--resume" target="_blank" title="Resume"><i class="fas fa-fw fa-file" aria-hidden="true"></i></a>
          <a href="https://github.com/pauldpong" class="cbtn cbtn--github" target="_blank" title="Github"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/paul-dpong/" class="cbtn cbtn--github" target="_blank" title="LinkedIn"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i></a>
          <a href="https://twitter.com/pauldpong" class="cbtn cbtn--github" target="_blank" title="Twitter"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i></a>
        </header>
        <p>{{ site.data.home.intro }}</p>
        <p>{{ site.data.home.work_experience }}</p>
        <p>{{ site.data.home.development_experience | markdownify }}</p>
        
      </div>
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div> -->

<!-- {% include paginator.html %} -->